.customer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  li {
    margin-right: 1rem;
  }
  .search {
    border: 1px solid black;
    width: fit-content;
    height: fit-content;
    input::placeholder {
      font-style: italic;
    }
  }
}

.web-header {
  display: flex;
  flex-direction: row;
  background-color: black;
  .img-container {
    flex-grow: 1;
    text-align: center;
    padding: 1rem 0;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    align-items: center;
    justify-content: space-around;
    padding: 0;

    li {
      color: #fff;
    }
  }
}

// HOME HEADER

.header__home {
  color: white;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/bg_home-header.jpg);

  .home__title {
    text-align: center;
    color: #c7c8c3;
    position: relative;
    padding: 4rem;

    .customer-info {
      width: 1100px;
      text-align: center;
    }

    h1 {
      font-family: 'utm_aquarelle', Arial, Helvetica, sans-serif;
      font-size: 16rem;
      display: inline;
    }

    h2 {
      font-size: 4.5rem;
      font-weight: 300;
      position: absolute;
      top: 20%;
      left: 50%;
    }
    h3 {
      font-size: 3.3rem;
      font-family: 'Lobster', cursive;
      display: inline;
    }
  }
}
