.footer {
  max-width: $content-width;
  margin: auto;
  padding: 0.5rem 5rem;
  .card-title {
    margin-bottom: 1rem;
  }
  .card-body {
    h4 {
      letter-spacing: 0.2rem;
      font-weight: 550;
      font-size: 1.8rem;
    }

    .send-email-footer {
      input[type='text'] {
        width: 13rem;
        height: 20px;
        padding-right: 50px;
      }

      input[type='submit'] {
        margin-left: -50px;
        height: 20px;
        width: 50px;
        background: $color-black;
        color: $color-white;
        border: 0;
        -webkit-appearance: none;
      }
    }
  }

  .footer__lien-he {
    i {
      margin-top: 0.5rem;
    }
  }
}

@media screen and (max-width: $layout-breakpoint-small) {
  .footer__content {
    flex-wrap: wrap;
    .card {
      width: 17rem;
      margin: auto;
      margin-top: 0;
    }
  }
}
