.customer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: $content-width;
  margin: auto;
  padding: 0.5rem 5rem;

  li {
    margin-right: 1rem;
  }
  .search {
    border: 1px solid $color-black;
    width: fit-content;
    height: fit-content;
    display: inline-block;
    white-space: nowrap;
    input::placeholder {
      font-style: italic;
    }
  }
}
.navbar {
  margin-bottom: 0 !important;
}
.web-header {
  display: flex;
  flex-direction: row;
  background-color: $color-black;
  height: 15rem;
  margin-bottom: 0;
  .img-container {
    text-align: center;
    padding: 1rem 4rem;
    height: 100%;
    img {
      height: 100%;
    }
  }
  ul {
    @extend %flex-row-center;
    align-items: center;
    flex-grow: 4;
    justify-content: flex-start;
    padding: 0;
    padding-top: 1rem;
    li {
      color: $color-white;
      padding-right: 5rem;
      a {
        color: $color-white;
        &:hover {
          color: $color-font-utm;
          text-decoration: none;
        }
      }
    }
  }
  .navbar-toggler {
    background-color: white !important;
    margin-right: 3rem;
    width: 3rem;
  }
}

@media screen and (max-width: $layout-breakpoint-small) {
  .customer-info {
    flex-direction: column;
    width: 100%;
    margin: auto;
    ul {
      flex-direction: column !important;
      align-items: center;
    }
    .search {
      margin: auto;
    }
  }
  .web-header {
    height: fit-content;

    ul {
      background-color: black;
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;
      padding-right: 0.5rem;
      li {
        margin: 0;
        padding: 0;
        > * {
          font-size: 0.7rem;
        }
      }
      a {
        color: $color-white;
      }
    }
  }
}

// HOME HEADER

.header__home {
  color: $color-white;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/bg_home-header.jpg);

  .home__title {
    text-align: center;
    color: #c7c8c3;
    position: relative;
    padding: 4rem;

    .customer-info {
      width: 1100px;
      text-align: center;
    }

    h1 {
      font-family: 'utm_aquarelle', Arial, Helvetica, sans-serif;
      font-size: 16rem;
      display: inline;
    }

    h2 {
      font-size: 4.5rem;
      font-weight: 300;
      position: absolute;
      top: 20%;
      left: 50%;
    }
    h3 {
      font-size: 3.3rem;
      font-family: 'Lobster', cursive;
      display: inline;
    }
  }
}
@media screen and (max-width: $layout-breakpoint-small) {
  .header__home {
    height: 20rem;
    .customer-info {
      ul {
        height: 16rem;
        justify-content: space-between!important;
      }
    }
  }
  .home__title {
    display: none;
  }
}
