.content
  .img-container
    img(src='../assets/images/wine-vine_home.jpg' alt='wine-vine')
  .detail
    h1 CH&Agrave;O M&#x1EEA;NG &Dstrok;&#x1EBE;N V&#x1EDA;I WINE HOUSE
    p
      | Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
      | nostrum nisi ratione architecto nulla in cum omnis dicta consequatur
      | placeat quia tempore nobis earum eveniet non nemo officiis! Aperiam
      | fugit nulla possimus deleniti amet itaque optio. Repudiandae saepe
      | perspiciatis quod quis nulla. Quaerat ab vero earum dolores ipsam
      | fuga, sunt itaque! Non iste voluptate tenetur! Asperiores
      | praesentium architecto cum eveniet officia inventore rem consequatur
      | quae, similique laboriosam. Suscipit, fugiat iste ad adipisci
      | eligendi deleniti ipsam saepe inventore asperiores quas possimus
      | sequi rerum exercitationem unde a perferendis tenetur neque nam quo
      | aspernatur et velit eum corrupti. In illum accusamus doloribus
      | dolorum nesciunt architecto corporis, maxime ad, molestias culpa
