article.intro.mb-5.pb-5
  section.intro-detail
    .image-container
      img(src='../assets/images/decor-1_home.jpg' alt='grape')
    article
      h1.my-5 GI&#x1EDA;I THI&#x1EC6;U
      img(src='../assets/images/title-dark.png' alt='title-dark')
      p.my-4
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam
        | similique animi perferendis perspiciatis quo unde ad voluptatibus
        | quia, beatae molestiae recusandae eos officiis nihil cupiditate
        | deserunt ex est! Hic nihil suscipit quo tempora, commodi veniam
        | repudiandae aliquid repellat facere recusandae optio incidunt sint
        | nam atque a quod officiis unde. Molestiae maxime consequatur a
        | consectetur dicta quisquam voluptas sapiente quibusdam. Quae.
      button.btn-lg.btn-dark.my-3 XEM TH&Ecirc;M
    .image-container
      img(src='../assets/images/decor-2_home.jpg' alt='grape vine')
