include ../../commons/product.pug
mixin newProduct
  each s in [3,4,5,6]
    +renderProduct(s)
.new-product
  header S&#x1EA2;N PH&#x1EA8;M M&#x1EDA;I
  div
    img(src='../assets/images/title-dark.png' alt='')
  .products
    +newProduct()