.customer-new-blog__container.my-5.pb-5
  .new-blog
    header S&#x1EA2;N PH&#x1EA8;M M&#x1EDA;I
    div
      img(src='../assets/images/title-dark.png' alt='title-dark')
    .home-cards
      .card
        .card-img-container
          img.card-img-top(src='../assets/images/home-post-1.jpg' alt='Card image cap')
        .card-body
          h5.card-title VANG TH&Abreve;NG LONG CLASSIC
          p.card-text
            small.text-muted &Dstrok;&abreve;ng b&#x1EDF;i Giangle | 30/06/2015 | 60 b&igrave;nh lu&#x1EAD;n
          p.card-text
            | Vang n&#x1ED5; Th&abreve;ng Long c&oacute; h&#x1B0;&#x1A1;ng v&#x1ECB; &dstrok;&#x1EB7;c tr&#x1B0;ng c&#x1EE7;a s&#x1EA3;n ph&#x1EA9;m l&ecirc;n men t&#x1EF1;
            | nhi&ecirc;n t&#x1EEB; hoa qu&#x1EA3; v&#x1EDB;i &dstrok;&#x1ED9; r&#x1B0;&#x1EE3;u nh&#x1EB9;, b&#x1ECD;t ga &dstrok;&#x1EA7;y tr&#x1EAF;ng m&#x1ECB;n. Vang N&#x1ED5;
            | th&abreve;ng long t&#x1EA1;o c&#x1EA3;m gi&aacute;c h&#x1B0;&#x1A1;ng ph&#x1EA5;n, &ecirc;m d&#x1ECB;u, vui t&#x1B0;oi, s&#x1EA3;n ph&#x1EA9;m
            | &dstrok;&#x1B0;&#x1EE3;c &dstrok;&oacute;ng chai dung t&iacute;ch 750ml...
          button.card-text.text-muted.btn-outline.border-0.bg-white
            | Read more
      .card
        .card-img-container
          img.card-img-top(src='../assets/images/home-post-2.jpg' alt='Card image cap')
        .card-body
          h5.card-title VANG TH&Abreve;NG LONG CLASSIC
          p.card-text
            small.text-muted &Dstrok;&abreve;ng b&#x1EDF;i Giangle | 30/06/2015 | 60 b&igrave;nh lu&#x1EAD;n
          p.card-text
            | Vang n&#x1ED5; Th&abreve;ng Long c&oacute; h&#x1B0;&#x1A1;ng v&#x1ECB; &dstrok;&#x1EB7;c tr&#x1B0;ng c&#x1EE7;a s&#x1EA3;n ph&#x1EA9;m l&ecirc;n men t&#x1EF1;
            | nhi&ecirc;n t&#x1EEB; hoa qu&#x1EA3; v&#x1EDB;i &dstrok;&#x1ED9; r&#x1B0;&#x1EE3;u nh&#x1EB9;, b&#x1ECD;t ga &dstrok;&#x1EA7;y tr&#x1EAF;ng m&#x1ECB;n. Vang N&#x1ED5;...
          button.card-text.text-muted.btn-outline.border-0.bg-white
            | Read more
  .customer
    header KH&Aacute;CH H&Agrave;NG
    div
      img(src='../assets/images/title-dark.png' alt='title dark')
    .customer-card
      .card-img-container
        img.card-img-top(src='../assets/images/coman.jpg' alt='Card image cap')
      .card-body
        p.card-text
          | Vang n&#x1ED5; Th&abreve;ng Long c&oacute; h&#x1B0;&#x1A1;ng v&#x1ECB; &dstrok;&#x1EB7;c tr&#x1B0;ng c&#x1EE7;a s&#x1EA3;n ph&#x1EA9;m l&ecirc;n men t&#x1EF1;
          | nhi&ecirc;n t&#x1EEB; hoa qu&#x1EA3; v&#x1EDB;i &dstrok;&#x1ED9; r&#x1B0;&#x1EE3;u nh&#x1EB9;, b&#x1ECD;t ga &dstrok;&#x1EA7;y tr&#x1EAF;ng m&#x1ECB;n. Vang N&#x1ED5;
          | th&abreve;ng long t&#x1EA1;o c&#x1EA3;m gi&aacute;c h&#x1B0;&#x1A1;ng ph&#x1EA5;n, &ecirc;m d&#x1ECB;u, vui t&#x1B0;oi, s&#x1EA3;n ph&#x1EA9;m
          | &dstrok;&#x1B0;&#x1EE3;c &dstrok;&oacute;ng chai dung t&iacute;ch 750ml...
        button.card-text.text-muted.btn-outline.border-0.bg-white
          | Read more
      .customer-info
        .customer-img-container
          img(src='../assets/images/home-customer.jpg' alt='Card image cap')
        h4 GIANG LT
        p.text-muted
          em Graphic Design
