.popular-item_container.my-5.pb-5
  .popular-item_layer_container
  article.popular-item
    .sale-item
      .sale__container
        img(src='../assets/images/sale.jpeg' alt='sale')
      .wine__container
        img.wine-img(src='../assets/images/Product/14-cropped.jpg' alt='wine bottle')
    .sale__detail
      header.detail__header R&#x1AF;&#x1EE2;U NHO N&Abreve;M 1987
      div
        img(src='../assets/images/titleleft-dark.png' alt='titleleft')
      h1 333.000d
      button.btn-lg.btn-dark ADD TO CART
      p
        | M&#x1ED9;t h&#x1EE3;p ch&#x1EA5;t c&oacute; trong r&#x1B0;&#x1EE3;u vang &dstrok;&#x1B0;&#x1EE3;c g&#x1ECD;i l&agrave; resveratro c&oacute; kh&#x1EA3; n&abreve;ng
        | l&agrave;m t&abreve;ng t&#x1ED1;i &dstrok;a tu&#x1ED5;i th&#x1ECD;. Resveratro c&ograve;n c&oacute; kh&#x1EA3; n&abreve;ng ng&abreve;n ch&#x1EB7;n m&#x1EAD;t
        | &dstrok;&#x1ED9; &ocirc;xy ho&aacute; c&#x1EE7;a protein b&eacute;o
      table.border-1
        tbody
          tr
            td.border-1
              h1 334
              h1 NG&Agrave;Y
            td.border-1
              h1 26
              h1 GI&#x1EDC;
          tr
            td.border-1
              h1 60
              h1 PH&Uacute;T
            td.border-1
              h1 15
              h1 GI&Acirc;Y
