@import 'variables';

@font-face {
  font-family: 'utm_aquarelle';
  src: url('../fonts/utm_aquarelle/utm_aquarelle-webfont.woff2') format('woff2'),
    url('../fonts/utm_aquarelle/utm_aquarelle-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'utm_caviar';
  src: url('../fonts/utm_caviar/utm_caviar-webfont.woff2') format('woff2'),
    url('../fonts/utm_caviar/utm_caviar-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

p {
  font-size: 1.2rem;
}

li {
  a {
    text-decoration: none;
    color: $color-black;
  }
}

li {
  list-style-type: none;
}

@media screen and (max-width: $layout-breakpoint-small) {
  html {
    font-size: 100%;
  }
  .form-group {
    display: block;
    label {
      width: 100%;
    }
  }
}
