.address-page {
    max-width: $content-width;
    margin: auto;
    padding: .5rem 5rem;
    a {
      text-decoration: underline;
    }
    table {
      td {
        border: 0;
      }
    }
    
    .forms {
      margin-top: 2rem;
    }
    .unfilled-form {
      margin-right: 5rem;
    }
    .add-address-form {
      margin-top:1rem;
    }
  }
  