.donhang-page {
  width: $content-width;
  margin: auto;
  padding: 0.5rem 5rem;
}

.ds-donhang__container {
  padding: 0 3rem;
  margin: 0 auto;
  overflow: auto;
}
.DS-table {
  margin-right: 1rem;
}
.DS__business-badge {
  max-width: $content-width;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .badge-holder {
    width: 33.33%;
    img {
      width: 100%;
    }
  }
}

@media screen and (max-width: $layout-breakpoint-small) {
  .donhang-page {
    max-width: 40rem;
    section {
      flex-direction: column !important;
      table {
        max-width: 100%;
      }
    }
  }
}
