.intro-detail {
  display: flex;
  flex-direction: row;

  .image-container {
    width: 20rem;
    flex-grow: 2;
    img {
      width: 100%;
    }
  }

  article {
    flex-grow: 3;
    width: 50rem;
    text-align: center;
  }
}

// POPULAR ITEM
.popular-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popular-item_layer_container {
  width: 90rem;
  height: 50rem;
  margin: auto;
  background-image: url(../images/wine-vine_home.jpg);
}
.popular-item {
  padding: 5rem;
  margin: auto;
  margin-top: -26rem;
  z-index: 2;
  background-color: $color-white;
  width: 80rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .sale-item {
    display: flex;
    flex-direction: row;
    margin: 0 10rem;
    div {
      object-fit: contain;
    }
    .sale__container {
      width: 10rem;
    }

    .wine__container {
      width: 17rem;
    }
    img,
    svg {
      vertical-align: top;
      width: 100%;
    }
  }

  .sale__detail {
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header {
      font-size: 2.5rem;
    }
    table,
    h1 {
      font-family: 'utm_caviar', Arial, Helvetica, sans-serif;
      color: $color-font-utm;
    }

    td {
      text-align: center;
    }
  }
}

// new products

.new-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    font-size: 2.1rem;
  }
  img {
    margin: 1rem 0;
  }
}
.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem 0;
}
.product {
  width: 20%;

  .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5rem 5rem 0 0;
    border-color: $color-font-utm transparent transparent transparent;
    position: relative;
    margin-bottom: -5rem;
    p {
      width: 9rem;
      text-align: center;
      color: $color-white;
      border-bottom: 1px solid $color-font-utm;
      padding: 1rem;
      padding-bottom: 0.5rem;
      margin-top: -5.2rem;
      margin-left: -3rem;
      transform: rotate(-45deg);
      font-size: 1.6rem;
    }
  }

  .product-img__container {
    width: 100%;
    img {
      width: 100%;
    }
  }

  .price-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .product-price {
      p {
        font-family: 'utm_caviar', Arial, Helvetica, sans-serif;
        display: inline;
      }
      .actual-price {
        font-size: 2.3rem;
        color: $color-font-utm;
      }

      .sale-price {
        font-size: 1.5rem;
        text-decoration: line-through;
      }
    }
  }
}

.gallery {
  align-content: center;
  align-items: center;
  display: grid;
  gap: 0 0;
  grid-template-columns: repeat(4, 25rem);
  grid-template-rows: repeat(2, 18rem);
  justify-content: center;
  justify-items: center;
  .img-bg {
    align-content: center;
    align-items: center;
    background-image: url(../images/Home-gallery/4.jpg);
    background-size: cover;
    border: 2px solid $color-font-utm;
    color: $color-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    h1 {
      border: 1px solid $color-white;
      width: fit-content;
    }
  }
  .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

// NEWS - BLOG
.new-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    font-size: 2.1rem;
  }
  img {
    margin: 1rem 0;
  }
}
.home-cards {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .card {
    border: 0;
    margin: 0 1rem;
  }
  .card-img-container {
    width: 40rem;
    img {
      width: 100%;
    }
  }

  .card-body {
    width: 40rem;
    .card-title {
      font-size: 1.8rem;
    }
  }
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  header {
    font-size: 2.1rem;
  }
  img {
    margin: 1rem 0;
  }

  .customer-card {
    width: 30rem;
    display: flex;
    text-align: center;
    flex-direction: column;

    align-items: center;
    .card-img-container {
      width: 4rem;
      img {
        width: 100%;
      }
    }
    .customer-info {
      display: flex;
      flex-direction: column;
  
      align-items: center;
      .customer-img-container {
        width: 8rem;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
  }
}

.customer-new-blog__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}