.lien-he-page {
  max-width: $content-width;
  margin: auto;
  padding: 0.5rem 5rem;

  .lien-he-content {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    .thong-tin {
      width: 60%;
      .img-container {
        margin-bottom: 2rem;
        img {
          width: 100%;
        }
      }
      .send {
        margin-top: 2rem;
      }
    }
    .contact {
      margin-left: 3rem;
      .detail {
        margin: 1rem 0;
      }
      .follow {
        font-family: Arial, Helvetica, sans-serif;
        margin: 1rem 0;
      }
    }
    textarea {
      height: 10rem;
    }
  }
}
@media screen and (max-width: $layout-breakpoint-small) {
  .lien-he-page {
    .lien-he-content {
      flex-direction: column;
      .thong-tin {
        width: 100%;
      }
      .contact {
        width: 100%;
        margin-left: 0;
        margin-top: 3rem;
      }
    }
  }
}
