extends ../layouts/default-layout.pug
block content
    main.donhang-page
        include ../partials/details/don-hang/route.pug
        section.d-flex.my-4
            include ../partials/details/don-hang/table.pug
            include ../partials/details/don-hang/customer-info.pug
        include ../partials/details/don-hang/business-badge.pug
