extends ../layouts/cac-san-pham.pug
block grid_san-pham
    .content
        include ../partials/details/san-pham/grid_san-pham/grid-nav.pug
        include ../partials/details/san-pham/grid_san-pham/products.pug 
        