extends ../layouts/home-layout.pug
block content
    include ../partials/details/home/modal.pug
    include ../partials/details/home/gioi-thieu.pug
    include ../partials/details/home/popular-item.pug
    include ../partials/details/home/new-product.pug
    include ../partials/details/home/gallery.pug
    include ../partials/details/home/ban-chay.pug
    include ../partials/details/home/new-blog.pug
    