extends ../layouts/cac-san-pham.pug
block grid_san-pham
    .content
        include ../partials/details/san-pham/list_san-pham/list-nav.pug
        include ../partials/details/san-pham/list_san-pham/products.pug 
        