.chi-tiet
    .thong-tin 
        .nav
            span ĐẶC ĐIỂM NỔI BẬT
            span THÔNG TIN SẢN PHẨM
            span ĐÁNH GIÁ       
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores placeat quod doloremque explicabo minus dolore, suscipit ipsum iusto itaque vero dolorem est non debitis? Accusantium nemo molestias officia amet totam suscipit dolores quae rem aut expedita, distinctio laudantium eaque quaerat? Deleniti veritatis sint facere omnis laborum in quos nihil? Corporis cupiditate quam repudiandae quidem, enim expedita velit eius, doloribus accusamus blanditiis exercitationem eaque officiis vero animi odio fugit doloremque ut non distinctio libero rerum nostrum maiores reprehenderit. Soluta, porro accusamus exercitationem quibusdam magnam adipisci amet qui libero minus dolores eius labore delectus temporibus officia possimus sit suscipit odio quasi autem! Tempora quis ipsa ut voluptates soluta accusamus, rerum tenetur vel exercitationem provident? Vel temporibus labore rem quas enim tempore cum. Necessitatibus voluptates ex distinctio error.C
    .img-bg 
        h1 RƯỢU NHO
