header.header
  section.customer-info
    ul.d-flex.flex-row.justify-content-lg-start
      li T&agrave;i kho&#x1EA3;n c&#x1EE7;a t&ocirc;i
      li -
      li Tr&#x1EA1;ng th&aacute;i &dstrok;&#x1A1;n h&agrave;ng
      li -
      li Danh s&aacute;ch &#x1B0;a th&iacute;ch
      li -
      li Gi&#x1ECF; h&agrave;ng
      li -
      li &Dstrok;&abreve;ng nh&#x1EAD;p
      li -
      li &Dstrok;&abreve;ng k&iacute;
    .search
      input.border-0(type='text' placeholder='Tìm kiếm ở đây...')
      button.border-0
        i.fas.fa-search.border-0
  section.web-header
    .img-container
      img(src='../images/project-1_logo.jpg' alt='')
    ul
      li TRANG CH&#x1EE6;
      li R&#x1EF0;OU VANG &Dstrok;&#x1ECE;
      li R&#x1EF0;OU TR&#x1EAE;NG
      li CHAMPAGNE
      li TH&Ocirc;NG TIN
      li BLOG
      li LI&Ecirc;N H&#x1EC6;
