section
  .route.my-4
    span Trang ch&#x1EE7;/
    span Danh s&aacute;ch &dstrok;&#x1A1;n h&agrave;ng
  h1 &Dstrok;&#x1A0;N H&Agrave;NG
  img(src='../assets/images/titleleft-dark.png' alt='titleleft')
