extends ./default-layout.pug
block content
    main.cac-san-pham-page
        include ../partials/commons/route.pug
        +renderRoute(" Sản phẩm / Rượu Vang Đỏ")
        include ../partials/details/san-pham/landing-img.pug
        .main 
            include ../partials/details/san-pham/sidebar.pug
            block grid_san-pham
        include ../partials/details/don-hang/business-badge.pug
        