mixin renderTag(content)
    a.btn.btn-outline-secondary(href='#' role='button')=content

.tags
    h4 BLOG TAGS
    .tag-list 
        a.btn.btn-danger.text-white(href='#' role='button') Đồng hồ
        - const tags = ["Túi","Phụ kiện","Giày","Sandal","sơ mi","Nước hoa","Trẻ em","Thời trang nữ"]
        each tag in tags 
            +renderTag(tag)