mixin renderTitle(title)
    if title
        h1=title
        img(src='../../assets/images/titleleft-dark.png' alt='titleleft')
mixin renderRoute(route,title='')
    section
        .route.my-4
            if route
                span Trang ch&#x1EE7; /
                span=route
        +renderTitle(title)