.DS__business-badge
  .badge-holder
    img(src='../images/DS_bussiness-badge-1.jpeg' alt='badge authentic')
  .badge-holder
    img(src='../images/DS_bussiness-badge-2.jpeg' alt='badge retrobrand')
  .badge-holder
    img(src='../images/DS_bussiness-badge-3.jpeg' alt='badge bearbrand')
