article.bg-light.d-flex.flex-column.align-items-center
  div
    header.my-3 TH&Ocirc;NG TIN KH&Aacute;CH H&Agrave;NG
    main
      section.d-flex.flex-row
        i.fas.fa-user.m-2
        div
          h5 GiangLe
          p Leanhgiang89@gmail.com
      section.d-flex.flex-row
        i.fas.fa-map-marker-alt.m-2
        p To&agrave; nh&agrave; H&agrave; N&#x1ED9;i group
        p 442 &Dstrok;&#x1ED9;i C&#x1EA5;n, Ba &Dstrok;&igrave;nh H&agrave; N&#x1ED9;i
      section.d-flex.flex-row
        i.fas.fa-phone-alt.m-2
        p (04) 3786 8904
    footer
      a.text-dark(href='') Chi ti&#x1EBF;t &dstrok;&#x1ECB;a ch&#x1EC9;
