table.table.table-bordered.DS-table
  thead.bg-light.py-1
    tr
      td(colspan='7')
        h4 DANH S&Aacute;CH &Dstrok;&#x1A0;N H&Agrave;NG
        p
          | Tr&#x1EA1;ng th&aacute;i T&#x1EA5;t c&#x1EA3; (16) | &Dstrok;&atilde; hu&#x1EF7; (10) | Ch&#x1B0;a duy&#x1EC7;t (0) | &Dstrok;&atilde;
          | duy&#x1EC7;t (0) | &Dstrok;&atilde; thanh to&aacute;n-ch&#x1EDD; mua h&agrave;ng (0)| &Dstrok;&atilde; mua h&agrave;ng (0) |
          | H&agrave;ng &dstrok;&atilde; v&#x1EC1;-ch&#x1EDD; giao h&agrave;ng (0) | &Dstrok;&atilde; k&#x1EBF;t th&uacute;c (6)
  tbody
    tr
      th(scope='col') STT
      th(scope='col') M&Atilde; HO&Aacute; &Dstrok;&#x1A0;N H&Agrave;NG
      th(scope='col') KHO NH&#x1EAC;N H&Agrave;NG
      th(scope='col') S&#x1ED0; SP
      th(scope='col') T&#x1ED4;NG TI&#x1EC0;N
      th(scope='col') T&Iacute;NH TRANG
      th(scope='col') THAO T&Aacute;C
    tr
      th(scope='row') 01
      td LEANHGIANG89 - 17/06/2015
      td H&Agrave; &Dstrok;&Ocirc;NG
      td 7
      td 350.000&dstrok;
      td &Dstrok;&atilde; thanh to&aacute;n
      td Chi ti&#x1EBF;t
    tr
      th(scope='row') 02
      td LEANHGIANG89 - 17/06/2015
      td H&Agrave; &Dstrok;&Ocirc;NG
      td 7
      td 350.000&dstrok;
      td &Dstrok;&atilde; thanh to&aacute;n
      td Chi ti&#x1EBF;t
    tr
      th(scope='row') 03
      td LEANHGIANG89 - 17/06/2015
      td H&Agrave; &Dstrok;&Ocirc;NG
      td 7
      td 350.000&dstrok;
      td &Dstrok;&atilde; thanh to&aacute;n
      td Chi ti&#x1EBF;t
    tr
      th(scope='row') 04
      td LEANHGIANG89 - 17/06/2015
      td H&Agrave; &Dstrok;&Ocirc;NG
      td 7
      td 350.000&dstrok;
      td &Dstrok;&atilde; thanh to&aacute;n
      td Chi ti&#x1EBF;t
    tr
      th(scope='row') 05
      td LEANHGIANG89 - 17/06/2015
      td H&Agrave; &Dstrok;&Ocirc;NG
      td 7
      td 350.000&dstrok;
      td &Dstrok;&atilde; thanh to&aacute;n
      td Chi ti&#x1EBF;t
    tr
      th(scope='row') 06
      td LEANHGIANG89 - 17/06/2015
      td H&Agrave; &Dstrok;&Ocirc;NG
      td 7
      td 350.000&dstrok;
      td &Dstrok;&atilde; thanh to&aacute;n
      td Chi ti&#x1EBF;t
